html{
	cursor: default; 
}


.hvac{ 	
	width: 0px;
	color: black;
}

a.regen{
	z-index: 50;
	position: relative;
	top: 0px;
	left: 100px;
	background: red;
        border: 5px solid white;
        border-right-width: 40px;
        padding: 0 10px;
        border-radius: 5px;
        text-decoration: none;
        transition: all .5s ease;
}

a.regen:hover {
	cursor: pointer;
}

a.regen.off {
	
        background: yellow;
        border-right-width: 2px;
        border-left-width: 15px;
}
